<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <script>
        var d =new Date();
        function date(){
         document.getElementById("date").innerHTML=d;
        }

    </script>
</head>
<body >
<header style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('static/css/hp.jpeg')">
    <div class="main">
        <div class="logo">
            <img src="/static/css/LOGO.jpeg">
        </div>
        <ul>
            <li class ="active"><a href="/welcome">Home </a></li>
            <li><a href="/about">About Us </a></li>
            <li><a href="/social">Social Media </a></li>
            <li><a href="/contact">Contact Us </a></li>
            <br><br>
             <div align="right" id="date" class="datestyle">
                <button type="button" class="btn" onclick="date()"> date</button></div>
        </ul>
    </div>
    <div class="about-title">
<div class="paragraph">
    Industrialization has changed the world in a very good way. All we know today that in the past factories played an important role.
While term factories comes into the picture we see variety of machines in the background picture.Most of them work in fuel like the generators.Factories are using large amount of fuel with any more maintenance not even aware of the estimation of fuel being consumed also not being aware of the cost of fuel and the amount of fuel being wasted. Keeping in mind weather playing the significant role we need to take primary care of the environment too which has to be maintained. Thus in this project we need to estimate fuel consumption in generators which are used in factories, So that we can store only that much amount of fuel in stock which is necessary for the machine
.Also we know that it takes very long time for the creation of this resource ,then only sustainable development can be achieved .


</div>
    </div>
</header>

</body>

</html>