<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style1.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Fuel Estimation</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body style="background-image:url(m3.jpg)" >
<!--  <nav class="light-blue lighten-1" role="navigation">-->
<!--    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>-->
<!--      <ul class="right hide-on-med-and-down">-->
<!--        <li><a href="#">Navbar Link</a></li>-->
<!--      </ul>-->

<!--      <ul id="nav-mobile" class="sidenav">-->
<!--        <li><a href="#">Navbar Link</a></li>-->
<!--      </ul>-->
<!--      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
<!--    </div>-->
<!--  </nav>-->

<!--<div align="center">-->

<!--</div>-->
  <div  id="index-banner" align="center">
    <div class="container">
      <br><br><h1 style="color:yellow; font-family: verdana;font-size: 300%;" >Welcome To This Page!!!! </h1>
      <h1  style="color:white ;font-size: 200%;"><b>Fuel Estimation </b></h1>
      <div class="row center">
        <h1  style="color:orange;font-size: 200%">Predict the need of fuel in future
        <br>
        </h1>
      </div>

              <div class="row">
    <form action='result.html' method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="first_name"><b style="color:#DC143C;font-size: 170%">Temperature</b></label>
            <br><br>
          <input placeholder="Temperature in Celsius" name="Temperature" id="first_name" type="text" class="validate">
        </div>
<br>
        <div class="input-field col s4">

          <label for="last_name"><b style="color:#DC143C;font-size: 170%">Oxygen </b></label>
          <br><br>
          <input id="last_name" name="Oxygen" placeholder="Oxygen content in ppm"  type="text" class="validate">

        </div>
<br>
        <div class="input-field col s4">
            <label for="_name"><b style="color:#DC143C;font-size: 170%">Humidity</b></label>
            <br><br>
          <input id="_name" name="Humidity" placeholder="Humidity %" type="text" class="validate">

        </div>
<br>
      </div>

      <div class="row center">
<br>
          <button type="submit" class="btn-large waves-effect waves-light orange" style="width:20%;font-size:150%;color:red" >Predict Probability</button>
      </div>
    </form>
      </div>

      <br>
<!--       <h1 style="color:yellow">{{pred}}</h1> <br>-->

    </div>
  </div>


    <br><br>
  </div>
  </div>

<!--<h1 style="color:white;font-size: 200%">&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;List of Students working on this project -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h1>-->
<!--<div align="center">-->
<!--  <img src="gl baja.jpg" alt="1%" width="10%">-->
<!--<h1 style="color:yellow;font-size: 150%">Tanya Srivastava (1619213115)</h1>-->
<!--<h1 style="color:yellow;font-size: 150%">Sakshi Keshri (1619231103)</h1>-->
<!--<h1 style="color:yellow;font-size: 150%">Zoya Khan (1619213126)</h1>-->
<!--  </div>-->
<!--  <footer class="page-footer orange">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col l6 s12">-->
<!--          <h5 class="white-text">Company Bio</h5>-->
<!--          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>-->


<!--        </div>-->
<!--        <div class="col l3 s12">-->
<!--          <h5 class="white-text">Settings</h5>-->
<!--          <ul>-->
<!--            <li><a class="white-text" href="#!">Link 1</a></li>-->
<!--            <li><a class="white-text" href="#!">Link 2</a></li>-->
<!--            <li><a class="white-text" href="#!">Link 3</a></li>-->
<!--            <li><a class="white-text" href="#!">Link 4</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col l3 s12">-->
<!--          <h5 class="white-text">Connect</h5>-->
<!--          <ul>-->
<!--            <li><a class="white-text" href="#!">Link 1</a></li>-->
<!--            <li><a class="white-text" href="#!">Link 2</a></li>-->
<!--            <li><a class="white-text" href="#!">Link 3</a></li>-->
<!--            <li><a class="white-text" href="#!">Link 4</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="footer-copyright">-->
<!--      <div class="container">-->
<!--      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>-->


<!--  &lt;!&ndash;  Scripts&ndash;&gt;-->
<!--  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
<!--  <script src=".js/materialize.js"></script>-->
<!--  <script src="js/init.js"></script>-->
 </body>
</html>
